<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application id</key>
	<string>56681049256f5361d4000002</string>
	<key>configuration update frequency</key>
	<real>1e-05</real>
	<key>configuration endpoint</key>
	<string>https://api.app47.net/</string>
	<key>delay data upload interval</key>
	<integer>10</integer>
	<key>send actual device identifier</key>
	<true/>
	<key>show network activity</key>
	<true/>
	<key>agent logging level</key>
	<string>debug</string>
	<key>upload on exit</key>
	<true/>
	<key>send events immediately</key>
	<true/>
	<key>capture crashes</key>
	<true/>
</dict>
</plist>
